<html>
	<head>
		<title>KJBS2's BLOG</title>
	</head>
	<body>
		<div>
			<h1><a href="https://kjbs2.tistory.com">KJBS2's BLOG</a></h1>
		</div>

		{% for post in posts %}
			<div>
				<HR width="100%" align="right" style="color:black; background-color:black; height:3px; border:none" />
				<h1><a href="">{{post.title}}</a></h1>
				<p>{{post.text|linebreaksbr}}</p>
				<p>published: {{post.published_date}}</p>
				<HR width="100%" align="right" style="color:black; background-color:black; height:3px; border:none" />
				<br>
			</div>
		{% endfor %}

		<div>
			<p>TEST</p>
			<h2><a href="http://kjbs2.tistory.com/entry/%EC%9D%B4%EB%B6%84%EA%B7%B8%EB%9E%98%ED%94%84">이분그래프</a></h2>
			<p>이분그래프에 대한 설명</p>
		</div>

		<div>
			<p>Hi there!</p>
			<p>It works!</p>
		</div>
	</body>
</html>